

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

@font-face {
  font-family: 'times-reg';
  src: url('fonts/times-webfont.woff2') format('woff2'),
       url('fonts/times-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'happytimes';
  src: url('fonts/happy-times-NG_regular_master_web.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'happytimes';
  src: url('fonts/happy-times-NG_italic_master_web.woff') format('woff'),
  url('fonts/happy-times-NG_italic_master_web.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'happytimes';
  src: url('fonts/happy-times-NG_bold_master_web.woff') format('woff'),
  url('fonts/happy-times-NG_bold_master_web.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'times_new_romanbold_italic';
  src: url('fonts/times_new_roman_-_bold_italic-webfont.woff2') format('woff2'),
       url('fonts/times_new_roman_-_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'times_new_romanregular';
  src: url('fonts/times_new_roman-webfont.woff2') format('woff2'),
       url('fonts/times_new_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'times_new_romanbold';
  src: url('times_new_roman_-_bold-webfont.woff2') format('woff2'),
       url('times_new_roman_-_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'times_new_romanitalic';
  src: url('times_new_roman_-_italic-webfont.woff2') format('woff2'),
       url('times_new_roman_-_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin-top: .5%; 
  margin-bottom: 40px;
  font-family: 'Times New Roman',"happytimes", serif;
font-size: 12pt;
background-color: white}

.title{
}


.text-box{
  margin: 0 auto;
max-width: 600px;
background-color: ;
}

p{margin-bottom: 0;
  margin-top: 0;
  display: inline;
font-family: inherit;}
  
p2{text-indent:  2em;
 
  font-size: 12pt;
display: inline-block;}

p3{margin-left: 2em; 
  display: inline;
  
  font-size: 12pt}
  
p4{
 
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
 
 
}


a {color: black;
  
  margin-bottom: 0;
  font-size: 12pt;}




a:hover {
  display: inline-block;
  -webkit-transform: skewX(15deg);
     -moz-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
       -o-transform: skewX(15deg);
          transform: skewX(15deg);}

  a {color: black;
  margin-bottom: 0;
  font-size: 12pt;}



button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
  -webkit-transform: skewX(15deg);
     -moz-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
       -o-transform: skewX(15deg);
          transform: skewX(15deg);

}




a:visited {
  color: black;
}

.meta{
  margin: 0 auto;  line-height: 10pt;

  text-align: center;
}
.footer{
 
  line-height: 95%;
  display: flex;
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(rgba(255,0,0,0), white);
  padding-bottom: 5px;
  padding-top:35px;  
}

#indent{margin-left: 2em;}

#visitkort{ height: 60mm;
width: 96mm;

margin: 0 auto;
margin-top: 5pt;
margin-bottom: 8pt;
padding-right: 2em;
outline-style: dotted;
overflow: hidden;
display:block;}
.item {
  margin-right:16px;
 
  }
  

  .list-item {
    max-width: 400px;
    margin-left: 2em;
    } 
    


    label { 
  
      display: inline-block;
      cursor: pointer;
      font-size: 12pt;
      text-decoration: underline;
    }
    label:hover {
      display: inline-block;
      -webkit-transform: skewX(15deg);
         -moz-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
           -o-transform: skewX(15deg);
              transform: skewX(15deg);}





.list-container{
font-weight: ;

              
display: flex;
flex-direction: column;
flex-wrap:wrap;
              
              }
.container{
  font-weight: ;
  outline: doted;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;

}

.x{text-align: center; margin-left: -2em ;}

#indent{
background-color: brwn;
margin-top: 0;

}
#katalog{
  background-color: yllow;
  padding-bottom: 24px
  
  }
.display{
  background-color: ;
  position: fixed;
  margin: auto;
  outline: doted;
  left: 0;
  right: 0;
  top: 60pt;
  padding-bottom: 48pt;
  overflow-y:scroll;
  overflow-x:hidden;
  bottom : 0;
  max-width: 500px;
  margin-top: -64pt ;
  padding-top: 64pt;
  z-index: -2;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 5pt;
    margin-bottom: 8pt;
    max-width: 380px ;
    max-height: ;
  
    outline-style: ;
    overflow: hidden;
  }
    #r0{
    display: none;
    visibility: hidden;
}
    input#toggle-1:checked ~ #r0{
    display: block;
    visibility: visible;
}



#förkastningarna{
  display: none;
  visibility: hidden;

  }
  input#toggle-6:checked ~ #förkastningarna{
   display: block;
   visibility: visible;}
  

 #visit{
  display: none;
  visibility: hidden;

  }
  input#toggle-2:checked ~ #visit{
   display: block;
   visibility: visible;}
  
   #visit-2{
    display: none;
    visibility: hidden;
  
    }
    input#toggle-3:checked ~ #visit-2{
     display: block;
     visibility: visible;}

     #visit-3{
      display: none;
      visibility: hidden;
      }
      input#toggle-4:checked ~ #visit-3{
       display: block;
       visibility: visible;}
       #visit-4{
        display: none;
        visibility: hidden;
        }
        input#toggle-5:checked ~ #visit-4{
         display: block;
         visibility: visible;}
      

 input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (max-width: 1000px){
  .display{
    background-color: ;
    position: relative;
    margin: auto;
    outline: doted;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: ;
    max-width: 100%;
    padding-bottom: 24pt;
    padding-top: 0pt;

    }
	


img{
	max-width:100%
   
}

}
